@font-face
{
	font-family: "alex";
	src: url("fonts/AlexBrush-Regular.ttf");
}
p
{
	font-size: 1.5em;
	font-family: Verdana, "Arial Black", sans-serif;
	text-align: justify;
}
h1
{
	font-size: 30px;
	font-family: "alex";
	text-align: center;
	border-bottom: 3px red solid;
}
h1:hover
{
	background-color: black;
	color: white;
}
.dernier
{
	color: red;
	text-shadow: 0px 0px 3px black;
}
em
{
	font-style: normal;
}
.dernier
{
	font-style: oblique;
}
span
{
	font-weight: bold;
}
.important
{
	text-decoration: line-through;
}
.imageflottante
{
	float: left;
}
.dessous
{
	clear: both;
}
a
{
	text-decoration: none;
	color: red;
	font-style: italic;
}
a:hover
{
	text-decoration: underline;
	color: green;
}
a:visited
{
	color: lime;
}